@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400&subset=latin,latin-ext);

@charset "UTF-8";

@font-face {
  font-family: "be-engager";
  src:url("./fonts/be-engager.eot");
  src:url("./fonts/be-engager.eot?#iefix") format("embedded-opentype"),
    url("./fonts/be-engager.woff") format("woff"),
    url("./fonts/be-engager.ttf") format("truetype"),
    url("./fonts/be-engager.svg#be-engager") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "be-engager" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="be-icon-"]:before,
[class*=" be-icon-"]:before {
  font-family: "be-engager" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(.be-icon-arrows:before) {
  content: "\62";
}
:global(.be-icon-trash:before) {
  content: "\63";
}
:global(.be-icon-pencil:before) {
  content: "\61";
}
:global(.be-icon-check:before) {
  content: "\65";
}
:global(.be-icon-cross:before) {
  content: "\66";
}
:global(.be-icon-more:before) {
  content: "\67";
}
:global(.be-icon-plus:before) {
  content: "\68";
}
:global(.be-icon-mail:before) {
  content: "\69";
}
:global(.be-icon-linkedin:before) {
  content: "\6b";
}
:global(.be-icon-youtube:before) {
  content: "\6c";
}
:global(.be-icon-facebook:before) {
  content: "\6d";
}
:global(.be-icon-twitter:before) {
  content: "\6e";
}
:global(.be-icon-messenger:before) {
  content: "\6f";
}
:global(.be-icon-gplus:before) {
  content: "\70";
}
:global(.be-icon-livechat:before) {
  content: "\71";
}
:global(.be-icon-forum:before) {
  content: "\64";
}
:global(.be-icon-copy:before) {
  content: "\6a";
}
:global(.be-icon-long-arrow-left:before) {
  content: "\72";
}
:global(.be-icon-vk:before) {
  content: "\74";
}
:global(.be-icon-search:before) {
  content: "\76";
}
:global(.be-icon-calendar-o:before) {
  content: "\77";
}
:global(.be-icon-calendar:before) {
  content: "\78";
}
:global(.be-icon-refresh:before) {
  content: "\79";
}
:global(.be-icon-reply:before) {
  content: "\41";
}
:global(.be-icon-external-link:before) {
  content: "\43";
}
:global(.be-icon-download:before) {
  content: "\45";
}
:global(.be-icon-user-secret:before) {
  content: "\75";
}
:global(.be-icon-users:before) {
  content: "\44";
}
:global(.be-icon-link:before) {
  content: "\46";
}
:global(.be-icon-info-circle:before) {
  content: "\53";
}
:global(.be-icon-spinner:before) {
  content: "\42";
}
:global(.be-icon-arrow-right:before) {
  content: "\7a";
}
:global(.be-icon-arrow-down:before) {
  content: "\47";
}
:global(.be-icon-icon-insta:before) {
  content: "\73";
}
:global(.be-icon-activity:before) {
  content: "\48";
}
:global(.be-icon-flags:before) {
  content: "\49";
}
:global(.be-icon-foods:before) {
  content: "\4a";
}
:global(.be-icon-people:before) {
  content: "\4b";
}
:global(.be-icon-recent:before) {
  content: "\4c";
}
:global(.be-icon-symbols:before) {
  content: "\4d";
}
:global(.be-icon-places:before) {
  content: "\4e";
}
:global(.be-icon-nature:before) {
  content: "\4f";
}
:global(.be-icon-objects:before) {
  content: "\50";
}
:global(.be-icon-expand:before) {
  content: "\51";
}
:global(.be-icon-inbox:before) {
  content: "\52";
}
:global(.be-icon-pending:before) {
  content: "\54";
}
:global(.be-icon-starred:before) {
  content: "\55";
}
:global(.be-icon-life-ring:before) {
  content: "\56";
}
:global(.be-icon-sec-settings:before) {
  content: "\57";
}
:global(.be-icon-arrow-left:before) {
  content: "\58";
}
:global(.be-icon-resolved:before) {
  content: "\59";
}
:global(.be-icon-sec-care:before) {
  content: "\5a";
}
:global(.be-icon-sec-crm:before) {
  content: "\30";
}
:global(.be-icon-escalated:before) {
  content: "\31";
}
:global(.be-icon-sec-reports:before) {
  content: "\32";
}
:global(.be-icon-plus-1:before) {
  content: "\33";
}
:global(.be-icon-flag:before) {
  content: "\34";
}
:global(.be-icon-envelope:before) {
  content: "\35";
}
:global(.be-icon-logout:before) {
  content: "\36";
}
:global(.be-icon-be-symbol:before) {
  content: "\37";
}
:global(.be-icon-lock:before) {
  content: "\38";
}
:global(.be-icon-icon-dm:before) {
  content: "\39";
}
:global(.be-icon-sec-engage:before) {
  content: "\21";
}
:global(.be-icon-icon-cross:before) {
  content: "\22";
}
:global(.be-icon-phone:before) {
  content: "\23";
}
:global(.be-icon-video-camera:before) {
  content: "\24";
}
:global(.be-icon-volume-off:before) {
  content: "\26";
}
:global(.be-icon-volume-up:before) {
  content: "\27";
}
:global(.be-icon-icon-minimize:before) {
  content: "\25";
}
:global(.be-icon-zendesk:before) {
  content: "\28";
}
:global(.be-icon-tag:before) {
  content: "\29";
}
:global(.be-icon-sentiment:before) {
  content: "\2a";
}
:global(.be-icon-reply-2:before) {
  content: "\2b";
}
:global(.be-icon-random:before) {
  content: "\2c";
}
:global(.be-icon-repeat:before) {
  content: "\2d";
}
:global(.be-icon-alert:before) {
  content: "\2e";
}
:global(.be-icon-long-arrow-right:before) {
  content: "\2f";
}
:global(.be-icon-api:before) {
  content: "\3a";
}
:global(.be-icon-chevron-down:before) {
  content: "\3b";
}
:global(.be-icon-copy-1:before) {
  content: "\3c";
}
:global(.be-icon-drag-hor:before) {
  content: "\3d";
}
:global(.be-icon-drag-vert:before) {
  content: "\3e";
}
:global(.be-icon-gallery:before) {
  content: "\3f";
}
:global(.be-icon-menu:before) {
  content: "\40";
}
:global(.be-icon-play:before) {
  content: "\5b";
}
:global(.be-icon-quick-replies:before) {
  content: "\5d";
}
:global(.be-icon-quit:before) {
  content: "\5e";
}
:global(.be-icon-redirect:before) {
  content: "\5f";
}
:global(.be-icon-store:before) {
  content: "\60";
}
:global(.be-icon-text:before) {
  content: "\7b";
}
:global(.be-icon-multi-audio:before) {
  content: "\7c";
}
:global(.be-icon-multi-file:before) {
  content: "\7d";
}
:global(.be-icon-multi-image:before) {
  content: "\7e";
}
:global(.be-icon-multi-video:before) {
  content: "\5c";
}
:global(.be-icon-male:before) {
  content: "\e000";
}
:global(.be-icon-file:before) {
  content: "\e001";
}
:global(.be-icon-paperclip:before) {
  content: "\e002";
}
:global(.be-icon-exclamation-triangle:before) {
  content: "\e003";
}
:global(.be-icon-download-1:before) {
  content: "\e004";
}
:global(.be-icon-external-link-square:before) {
  content: "\e005";
}
:global(.be-icon-livechat-2:before) {
  content: "\e006";
}
:global(.be-icon-rating-1:before) {
  content: "\e007";
}
:global(.be-icon-rating-2:before) {
  content: "\e008";
}
:global(.be-icon-rating-3:before) {
  content: "\e009";
}
:global(.be-icon-rating-5:before) {
  content: "\e00b";
}
:global(.be-icon-thumb-down:before) {
  content: "\e00c";
}
:global(.be-icon-thumb-up:before) {
  content: "\e00d";
}
:global(.be-icon-close-big:before) {
  content: "\e00e";
}
:global(.be-icon-chevron-right:before) {
  content: "\e00f";
}
:global(.be-icon-chevron-left:before) {
  content: "\e010";
}
:global(.be-icon-emoji:before) {
  content: "\e011";
}
:global(.be-icon-be-logo:before) {
  content: "\e00a";
}
:global(.be-icon-rating-4:before) {
  content: "\e012";
}
:global(.be-icon-arrow-drop:before) {
  content: "\e013";
}
:global(.be-icon-file-drop:before) {
  content: "\e014";
}
:global(.be-icon-enlarge:before) {
  content: "\e015";
}
:global(.be-icon-mail-1:before) {
  content: "\e016";
}
:global(.be-icon-agent:before) {
  content: "\e017";
}
:global(.be-icon-moon:before) {
  content: "\e018";
}
:global(.be-icon-livechat-off:before) {
  content: "\e019";
}
:global(.be-icon-plug:before) {
  content: "\e01a";
}


:global(.be-icon-bold:before) {
  content: "\e01b";
}
:global(.be-icon-underline:before) {
  content: "\e01c";
}
:global(.be-icon-italic:before) {
  content: "\e01d";
}
:global(.be-icon-list-ul:before) {
  content: "\e01e";
}
:global(.be-icon-list-ol:before) {
  content: "\e01f";
}
:global(.be-icon-align-left:before) {
  content: "\e020";
}
:global(.be-icon-align-right:before) {
  content: "\e021";
}
:global(.be-icon-align-justify:before) {
  content: "\e022";
}
:global(.be-icon-align-center:before) {
  content: "\e023";
}
:global(.be-icon-chain-broken:before) {
  content: "\e024";
}
:global(.be-icon-sort-amount-asc:before) {
  content: "\e025";
}
:global(.be-icon-sort-amount-desc:before) {
  content: "\e026";
}
:global(.be-icon-page-export:before) {
  content: "\e027";
}
:global(.be-icon-briefcase:before) {
  content: "\e028";
}
:global(.be-icon-arrow-right-1:before) {
  content: "\e029";
}


:global(.be-icon-vcard:before) {
  content: "\e02a";
}
:global(.be-icon-pinterest:before) {
  content: "\e02b";
}
:global(.be-icon-tumblr:before) {
  content: "\e02c";
}
:global(.be-icon-social-snapchat:before) {
  content: "\e02d";
}
:global(.be-icon-slack:before) {
  content: "\e02e";
}
:global(.be-icon-kik:before) {
  content: "\e02f";
}
:global(.be-icon-amazon:before) {
  content: "\e031";
}
:global(.be-icon-search-1:before) {
  content: "\e032";
}
:global(.be-icon-whatsapp-logo:before) {
  content: "\e033";
}
:global(.be-icon-microphone:before) {
  content: "\e030";
}
:global(.be-icon-viber:before) {
  content: "\e034";
}
:global(.be-icon-odnoklassniki-logo:before) {
  content: "\e035";
}


:global(.be-icon-google-play:before) {
  content: "\e036";
}
:global(.be-icon-google:before) {
  content: "\e037";
}
:global(.be-icon-app-store:before) {
  content: "\e038";
}
:global(.be-icon-rss:before) {
  content: "\e039";
}
:global(.be-icon-telegram:before) {
  content: "\e03a";
}
:global(.be-icon-apple:before) {
  content: "\e03b";
}
:global(.be-icon-speech-bubble:before) {
  content: "\e03c";
}
:global(.be-icon-map-marker:before) {
  content: "\e03d";
}
:global(.be-icon-app-store-1:before) {
  content: "\e03e";
}
:global(.be-icon-speech-bubble-1:before) {
  content: "\e03f";
}
:global(.be-icon-if-line-message-2559802:before) {
  content: "\e040";
}
:global(.be-icon-if-66-wechat-1181189:before) {
  content: "\e041";
}
:global(.be-icon-align-left-1:before) {
  content: "\e042";
}

// COPY CSS FROM FONTASTIC BEFORE THIS SELECTOR

[class^="be-icon"] {
  position: relative;
  display: inline-block;
  height: inherit;
  line-height: inherit;
  &:before {
    height: inherit;
    line-height: inherit;
    float: inherit;
  }
}
