.Button {
  position: relative;
  display: inline-block;
  width: auto;
  height: 44px;
  margin: 5px;
  padding: 0 42px;
  line-height: 44px;
  border-radius: 3px;
  background-color: #329d53;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.05s;

  &:hover {
    box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.7);
    transform: translateY(1px);
  }

  &.Reversed {
    color: #329d53;
    background-color: #fff;
    box-shadow: none;

    &:hover {
    color: #39b35f;
    transform: translateY(0px);
    }
  }

  &.Negative {
    background-color: #E8585D;
  }

  &.Cancel {
    color: #E8585D ;
    background-color: #fff;
    box-shadow: none;

    &:hover {
      color: rgb(228, 114, 118);
      transform: translateY(0px);
    }
  }

  &.Disabled {
    border-color: #c5c5c5!important;
    background-color: #cfcfcf!important;
    color: #a6a6a6!important;
    cursor: not-allowed!important;
    pointer-events: none!important;
  }

  &.Small {
    height: 28px;
    padding: 0 22px;
    line-height: 28px;
    margin: 0;
  }

  &.Wide {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}

