@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400&subset=latin,latin-ext);

@charset "UTF-8";

@font-face {
  font-family: "be-engager";
  src:url("./fonts/be-engager.eot");
  src:url("./fonts/be-engager.eot?#iefix") format("embedded-opentype"),
    url("./fonts/be-engager.woff") format("woff"),
    url("./fonts/be-engager.ttf") format("truetype"),
    url("./fonts/be-engager.svg#be-engager") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "be-engager" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="be-icon-"]:before,
[class*=" be-icon-"]:before {
  font-family: "be-engager" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.be-icon-arrows:before {
  content: "\62";
}
.be-icon-trash:before {
  content: "\63";
}
.be-icon-pencil:before {
  content: "\61";
}
.be-icon-check:before {
  content: "\65";
}
.be-icon-cross:before {
  content: "\66";
}
.be-icon-more:before {
  content: "\67";
}
.be-icon-plus:before {
  content: "\68";
}
.be-icon-mail:before {
  content: "\69";
}
.be-icon-linkedin:before {
  content: "\6b";
}
.be-icon-youtube:before {
  content: "\6c";
}
.be-icon-facebook:before {
  content: "\6d";
}
.be-icon-twitter:before {
  content: "\6e";
}
.be-icon-messenger:before {
  content: "\6f";
}
.be-icon-gplus:before {
  content: "\70";
}
.be-icon-livechat:before {
  content: "\71";
}
.be-icon-forum:before {
  content: "\64";
}
.be-icon-copy:before {
  content: "\6a";
}
.be-icon-long-arrow-left:before {
  content: "\72";
}
.be-icon-vk:before {
  content: "\74";
}
.be-icon-search:before {
  content: "\76";
}
.be-icon-calendar-o:before {
  content: "\77";
}
.be-icon-calendar:before {
  content: "\78";
}
.be-icon-refresh:before {
  content: "\79";
}
.be-icon-reply:before {
  content: "\41";
}
.be-icon-external-link:before {
  content: "\43";
}
.be-icon-download:before {
  content: "\45";
}
.be-icon-user-secret:before {
  content: "\75";
}
.be-icon-users:before {
  content: "\44";
}
.be-icon-link:before {
  content: "\46";
}
.be-icon-info-circle:before {
  content: "\53";
}
.be-icon-spinner:before {
  content: "\42";
}
.be-icon-arrow-right:before {
  content: "\7a";
}
.be-icon-arrow-down:before {
  content: "\47";
}
.be-icon-icon-insta:before {
  content: "\73";
}
.be-icon-activity:before {
  content: "\48";
}
.be-icon-flags:before {
  content: "\49";
}
.be-icon-foods:before {
  content: "\4a";
}
.be-icon-people:before {
  content: "\4b";
}
.be-icon-recent:before {
  content: "\4c";
}
.be-icon-symbols:before {
  content: "\4d";
}
.be-icon-places:before {
  content: "\4e";
}
.be-icon-nature:before {
  content: "\4f";
}
.be-icon-objects:before {
  content: "\50";
}
.be-icon-expand:before {
  content: "\51";
}
.be-icon-inbox:before {
  content: "\52";
}
.be-icon-pending:before {
  content: "\54";
}
.be-icon-starred:before {
  content: "\55";
}
.be-icon-life-ring:before {
  content: "\56";
}
.be-icon-sec-settings:before {
  content: "\57";
}
.be-icon-arrow-left:before {
  content: "\58";
}
.be-icon-resolved:before {
  content: "\59";
}
.be-icon-sec-care:before {
  content: "\5a";
}
.be-icon-sec-crm:before {
  content: "\30";
}
.be-icon-escalated:before {
  content: "\31";
}
.be-icon-sec-reports:before {
  content: "\32";
}
.be-icon-plus-1:before {
  content: "\33";
}
.be-icon-flag:before {
  content: "\34";
}
.be-icon-envelope:before {
  content: "\35";
}
.be-icon-logout:before {
  content: "\36";
}
.be-icon-be-symbol:before {
  content: "\37";
}
.be-icon-lock:before {
  content: "\38";
}
.be-icon-icon-dm:before {
  content: "\39";
}
.be-icon-sec-engage:before {
  content: "\21";
}
.be-icon-icon-cross:before {
  content: "\22";
}
.be-icon-phone:before {
  content: "\23";
}
.be-icon-video-camera:before {
  content: "\24";
}
.be-icon-volume-off:before {
  content: "\26";
}
.be-icon-volume-up:before {
  content: "\27";
}
.be-icon-icon-minimize:before {
  content: "\25";
}
.be-icon-zendesk:before {
  content: "\28";
}
.be-icon-tag:before {
  content: "\29";
}
.be-icon-sentiment:before {
  content: "\2a";
}
.be-icon-reply-2:before {
  content: "\2b";
}
.be-icon-random:before {
  content: "\2c";
}
.be-icon-repeat:before {
  content: "\2d";
}
.be-icon-alert:before {
  content: "\2e";
}
.be-icon-long-arrow-right:before {
  content: "\2f";
}
.be-icon-api:before {
  content: "\3a";
}
.be-icon-chevron-down:before {
  content: "\3b";
}
.be-icon-copy-1:before {
  content: "\3c";
}
.be-icon-drag-hor:before {
  content: "\3d";
}
.be-icon-drag-vert:before {
  content: "\3e";
}
.be-icon-gallery:before {
  content: "\3f";
}
.be-icon-menu:before {
  content: "\40";
}
.be-icon-play:before {
  content: "\5b";
}
.be-icon-quick-replies:before {
  content: "\5d";
}
.be-icon-quit:before {
  content: "\5e";
}
.be-icon-redirect:before {
  content: "\5f";
}
.be-icon-store:before {
  content: "\60";
}
.be-icon-text:before {
  content: "\7b";
}
.be-icon-multi-audio:before {
  content: "\7c";
}
.be-icon-multi-file:before {
  content: "\7d";
}
.be-icon-multi-image:before {
  content: "\7e";
}
.be-icon-multi-video:before {
  content: "\5c";
}
.be-icon-male:before {
  content: "\e000";
}


// COPY CSS FROM FONTASTIC BEFORE THIS SELECTOR

[class^="be-icon"] {
  position: relative;
  display: inline-block;
  height: inherit;
  line-height: inherit;
  &:before {
    height: inherit;
    line-height: inherit;
    float: inherit;
  }
}
