* {
  font-family: Open Sans,Arial;
  color: #4a4a4a;
  font-size: 13px;
  color:  #4a4a4a;
  box-sizing: border-box;
}

:global(.Componenta) {
  width: 300px;
  padding: 20px;
  background-color: aquamarine;
  color: blueviolet;
}


/*  Headings   */
:global(.h1,
.h2,
.h3,
.h4,
.h5,
.h6) {
  line-height: 150%;
  margin: 6px 0;
  display: block;
}

:global(.h1) {
  font-size: 24px;
}

:global(.h2) {
  font-size: 20px;
}

:global(.h3) {
  font-size: 16px;
}

:global(.h4) {
  font-size: 14px;
}

:global(.p) {
  font-size: 13px;
  color:  #4a4a4a;
  line-height: 140%;
}

:global(.justify) {
  text-align: justify;
}
