* {
  font-family: Open Sans,Arial;
  color: #4a4a4a;
  font-size: 13px;
  color:  #4a4a4a;
  box-sizing: border-box;
}

.Componenta {
  width: 300px;
  padding: 20px;
  background-color: aquamarine;
  color: blueviolet;
}


/*  Headings   */

.HeaderBox {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 10px;
  padding: 10px 0;
  line-height: 28px;
  float: left;
  border-bottom: 1px solid #e6e6e6;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  color: #9b9b9b; 
}

.step {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  float: left;
  cursor: default;
  color: #9b9b9b; 
}

.step:first-child {
  padding-left: 0;
}
.step:last-child{
  color: #4a4a4a;
}
/*
.step:before{
  content: ">";
  position: absolute;
  top: 0;
  left: 8px;
  display: block;
  font-family: be-engager!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-variant: normal!important;
  text-transform: none!important;
  color: #9b9b9b!important;
  pointer-events: none;
  cursor: default!important;
}
*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 140%;
  margin: 6px 0;
  display: block;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 16px;
}

.h4 {
  font-size: 14px;
}

.p {
  font-size: 13px;
  color:  #4a4a4a;
  line-height: 140%;
}

.justify{
  text-align: justify;
}