* {
  font-family: Open Sans,Arial;
  color: #4a4a4a;
  font-size: 13px;
  color:  #4a4a4a;
  box-sizing: border-box;
}

.Componenta {
  width: 300px;
  padding: 20px;
  background-color: aquamarine;
  color: blueviolet;
}


/*  Headings   */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 150%;
  margin: 6px 0;
  display: block;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 16px;
}

.h4 {
  font-size: 14px;
}

.p {
  font-size: 13px;
  color:  #4a4a4a;
  line-height: 140%;
}

.justify{
  text-align: justify;
}