
@import './../../../node_modules/react-daterange-picker/dist/css/react-calendar.css';

.daterangepicker .DateRangePicker {
  min-height: 270px;
  margin-bottom: 0;
}

.daterangepicker .DateRangePicker__MonthHeader {
  height: 40px;
  line-height: 40px;
  background-color: #e6e6e6;
  text-transform: uppercase;
  text-align: center;
}

.daterangepicker .DateRangePicker__Month {
  margin: 0;
}

.daterangepicker .DateRangePicker__Month:first-child {
  margin-right: 5px;
}

.daterangepicker .DateRangePicker__Month:nth-child(2) .DateRangePicker__MonthHeader:after{
  content: ' ';
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 5px;
  height: 40px;
  background-color: #e6e6e6;
}

.daterangepicker .DateRangePicker__Month:nth-child(2) {
  margin-right: 5px;
}

.daterangepicker .DateRangePicker__PaginationArrow {
  height: 40px;
  line-height: 40px;
}

.daterangepicker .DateRangePicker__PaginationArrow--previous {
  left: 0;
}

.daterangepicker .DateRangePicker__PaginationArrow--next {
  right: 0;
}

.daterangepicker .DateRangePicker__PaginationArrowIcon {
  top: 12px;
}

.daterangepicker .DateRangePicker__MonthDates {
  border: none;
  border-collapse: collapse;
  border-spacing: 0 0;
}

.daterangepicker .DateRangePicker__WeekdayHeading,
 .daterangepicker .DateRangePicker__Date {
  color: #4a4a4a;
  font-size: 13px;
}

.daterangepicker .DateRangePicker__WeekdayHeading {
  color: #9b9b9b;
  font-weight: 400;
}

.daterangepicker .DateRangePicker__Date {
  border: none;
}

.daterangepicker .DateRangePicker__Date--is-highlighted {
  border-color: #40c268;
  color: #4a4a4a !important;
}

.daterangepicker .DateRangePicker__Date--is-selected {
  color: #fff;
}

.daterangepicker .DateRangePicker__Date--is-disabled {
  color: #cdcdd1 !important;
  opacity: 0.25 !important;
  cursor: not-allowed !important;
}

.daterangepicker .DateRangePicker__Date--otherMonth {
  opacity: .6;
}

.daterangepicker .DateRangePicker__CalendarSelection {
  border-color: #40c268;
  background-color: #40c268;
}

.daterangepicker .DateRangePicker__CalendarSelection--single {
  border-radius: 3px;
}

.daterangepicker .DateRangePicker__CalendarSelection--start {
  border-radius: 3px 0 0 3px;
}

.daterangepicker .DateRangePicker__CalendarSelection--end {
  border-radius: 0 3px 3px 0;
}

.daterangepicker .DateRangePicker__CalendarHighlight {
  border-color: #e6e6e6;
  background-color: #e6e6e6;
  border-radius: 3px !important;
}

.daterangepicker .DateRangePicker__control-panel {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 12px;
  line-height: 50px;
  border-top: 1px solid #e6e6e6;
}

.daterangepicker .DateRangePicker__control-panel .button,
 .daterangepicker .DateRangePicker__control-panel .gl-button {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 26px;
  margin: 12px 0 12px 5px;
  line-height: 26px;
  float: right;
  text-align: center;
}

.daterangepicker .DateRangePicker__control-panel .selected-range {
  position: relative;
  display: inline-block;
  line-height: 50px;
}
