.Button {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  margin: 5px 0;
  padding: 0 42px;
  line-height: 40px;
  border-radius: 3px;
  background-color: #329d53;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.11s;
  user-select: none;

  & [class^='be-icon'] {
    display: inline-flex;
    margin-right: 8px;
    line-height: 15px;
    font-size: inherit;
    color: inherit;
    height: auto;
  }

  &:hover {
    filter:brightness(115%);
  }

  &.Reversed {
    color: #329d53;
    background-color: #fff;
  }

  &.Negative {
    background-color: #E8585D;
  }

  &.Cancel {
    color: #E8585D ;
    background-color: #fff;
  }

  &.Disabled {
    border-color: #c5c5c5!important;
    background-color: #cfcfcf!important;
    color: #a6a6a6!important;
    cursor: not-allowed!important;
    pointer-events: none!important;
    box-shadow: none;
  }

  &.Small {
    height: 28px;
    padding: 0 22px;
    line-height: 28px;
    margin: 0;
    font-size: 13px;
    & [class^='be-icon'] {
      line-height: 13px;
    }
  }

  &.Wide {
    width: 100%;
    margin: 5px 0;
  }
}
