
.Channel {
  position: relative;
  display: inline-block;
  align-self: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  line-height: 24px;
  border-radius: 3px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  color: #fff;
  
  &.isPointer {
    cursor: pointer;
  }

  &:before, &:after {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    height: inherit;
    line-height: inherit;
    float: left;
    font-family: "be-engager" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
  }
  &:after {
    content: none;
  }
  &.isPrivate, &.message {
    &:before {
      width: 24px;
    }
    &:after {
      content: "9";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      height: 18px;
      width: 18px;
      line-height: 19px;
      font-size: 17px;
      color: #ffc36b;
    }
  }

  &.facebook {
    line-height: 25px;
    background-color: #3b5998;
    font-size: 12px;
    &:before {
      content: "\6d";
    }
  }
  &.facebook-dm {
    line-height: 25px;
    background-color: #3b5998;
    font-size: 12px;
    &:before {
      content: "\6d";
      width: 24px;
    }
    &:after {
      content: "9";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      height: 18px;
      width: 18px;
      line-height: 19px;
      font-size: 17px;
      color: #ffc36b;
    }
  }
  &.facebook-messenger {
    line-height: 25px;
    background-color: #448aff;
    font-size: 12px;
    &:before {
      content: "\o";
    }
  }
  &.twitter {
    background-color: #55acee;
    &:before {
      content: "\6e";
    }
  }
  &.co-browsing {
    background-color: #cf6dca;
    &:before {
      content: "\U";
    }
  }
  &.in-app-messaging {
    background-color: #cf6dca;
    &:before {
      content: "\U";
    }
  }
  &.kakao-talk {
    background-color: #ffe812;
    color: #000;
    &:before {
      content: "\U";
    }
  }
  &.tango {
    background-color: #db4301;
    &:before {
      content: "\U";
    }
  }
  &.twitter-dm {
    background-color: #55acee;
    &:before {
      content: "\6e";
      width: 24px;
    }
    &:after {
      content: "9";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      height: 18px;
      width: 18px;
      line-height: 19px;
      font-size: 17px;
      color: #ffc36b;
    }
  }
  &.instagram {
    background-color: #55acee00;
    background: linear-gradient( 45deg, #ee8252, #eb4b66, #a8478c);
    font-size: 14.4px;
    &:before {
      content: "\73";
    }
  }
  &.instagram-dm {
    background-color: #55acee00;
    background: linear-gradient( 45deg, #ee8252, #eb4b66, #a8478c);
    font-size: 14.4px;
    &:before {
      content: "\73";
      width: 24px;
    }
    &:after {
      content: "9";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      height: 18px;
      width: 18px;
      line-height: 19px;
      font-size: 17px;
      color: #ffc36b;
    }
  }
  &.google {
    background-color: #dd4b39;
    font-size: 14.4px;
    &:before {
      content: "\70";
    }
  }
  &.google-dm {
    background-color: #dd4b39;
    font-size: 14.4px;
    &:before {
      content: "\70";
      width: 24px;
    }
    &:after {
      content: "9";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      height: 18px;
      width: 18px;
      line-height: 19px;
      font-size: 17px;
      color: #ffc36b;
    }
  }
  &.google-search {
    background-color: #000000;
    font-size: 14.4px;
    &:before {
      content: "\v";
    }
  }
  &.google-play {
    background-color: #000000;
    background: linear-gradient( 145deg, #00ceff, #d53f62, #f8c971);
    font-size: 14.4px;
    &:before {
      content: "\E036";
    }
  }
  &.google-maps {
    background-color: #8fc24e;
    background: linear-gradient( 0deg, #a0cf61, #8fc24e);
    font-size: 14.4px;
    &:before {
      content: "\e03d";
      color:#ea4b36;
    }
  }
  &.telegram {
    background-color: #229dd8;
    &:before {
      content: "\E03A";
    }
  }
  &.youtube {
    background-color: #b00;
    &:before {
      content: "\6c";
    }
  }
  &.rcs {
    background-color: #000000;

    &:before {
      content: "\E006";
    }
  }
  &.pinterest {
    background-color: #d63633;
    &:before {
      content: "\E02B";
    }
  }
  &.wechat {
    background-color: #2dc100;
    &:before {
      content: "\E038";
    }
  }
  &.voice {
    background-color: #145de4;
    background: linear-gradient( 180deg, #145de4, #0f44a7);
    &:before {
      content: "\#";
    }
  }
  &.whatsapp {
    background-color: #009d00;
    &:before {
      content: "\E033";
    }
  }
  &.contact-form {
    background-color: #000000;
    &:before {
      content: "\E042";
    }
  }
  &.viber {
    background-color: #7b519d;
    &:before {
      content: "\E034";
    }
  }
  &.apple-apps {
    background-color: #0269e2;
    background: linear-gradient( 180deg, #1ac1fb, #1d77f2);
    &:before {
      content: "\e03e";
    }
  }
  &.apple {
    background-color: #a7a7a7;
    background: linear-gradient( 180deg,#bbbbbb, #a7a7a7);
    color: #000;
    &:before {
      content: "\E03B";
    }
  }
  &.apple-imessage {
    background: linear-gradient( 180deg,#5bf677, #00b618);
    font-size: 20px;
    &:before {
      content: "\E041";
    }
  }
  &.sms {
    background-color: #a228b7;
    color: #fff;
    &:before {
      content: "\E03C";
    }
  }
  &.rss {
    background-color: #ffa500;
    &:before {
      content: "\E039";
    }
  }
  &.ok-ru {
    background-color: #f68634;
    &:before {
      content: "\E035";
    }
  }
  &.kik {
    background-color: #000000;
    color:#7db703;
    &:before {
      content: "\E02F";
    }
  }
  &.linkedin {
    background-color: #007bb6;
    &:before {
      content: "\6b";
    }
  }
  &.livechat-contact-form {
    background-color: #b42c2a;
    &:before {
      content: "\E019";
    }
  }
  &.slack {
    background-color: #77d4b6;
    color: #fff;
    &:before {
      content: "\E02E";
    }
  }
  &.tumblr {
    background-color: #395a76;
    &:before {
      content: "\E02C";
    }
  }
  &.snapchat {
    background-color: #ece000;

    &:before {
      content: "\E02D";
      -webkit-text-stroke: 1px black;
    }
  }
  &.amazon {
    background-color: #000000;
    color: #f90;
    color:#fff;
    &:before {
      content: "\E031";
    }
  }
  &.livechat, &.live-chat {
    background-color: #b42c2a;
    &:before {
      content: "\71";
    }
  }
  &.line-message {
    background: linear-gradient( 180deg, #35be19, #32b418);
    font-size: 16px;
    &:before {
      content: "\E040";
    }
  }
  &.email {
    background-color: #dee4eb;
    font-size: 13.2px;
    color: #545968;
    &:before {
      content: "\69";
    }
  }
  &.forum {
    background-color: #4a4a4a;
    font-size: 10.8px;
    &:before {
      content: "\64";
    }
  }
  &.vkontakte {
    background-color: #45668e;
    font-size: 12px;
    &:before {
      content: "\74";
    }
  }
  &.vkontakte-dm {
    background-color: #45668e;
    font-size: 12px;
    &:before {
      content: "\74";
      width: 24px;
    }
    &:after {
      content: "9";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      height: 18px;
      width: 18px;
      line-height: 19px;
      font-size: 17px;
      color: #ffc36b;
    }
  }
  &.listening, &.kbm-1 {
    background-color: #dcdcdc;
    font-size: 14.4px;
    color: #a2a2a2;
    &:before {
      content: "\46";
    }
  }

  /* SIZE XL */

  &.sizeXL {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border-radius: 7px;

    &.isPrivate, &.message {
      &:before {
        width: 60px;
      }
      &:after {
        height: 45px;
        width: 45px;
        line-height: 46px;
        font-size: 44px;
      }
    }
    &.facebook {
      line-height: 60px;
      font-size: 30px;
    }
    &.facebook-dm {
      line-height: 60px;
      font-size: 30px;
      &:before {
        width: 60px;
      }
      &:after {
        height: 45px;
        width: 45px;
        line-height: 46px;
        font-size: 44px;
      }
    }
    &.twitter-dm {
      line-height: 60px;
      &:before {
        width: 60px;
      }
      &:after {
        height: 45px;
        width: 45px;
        line-height: 46px;
        font-size: 44px;
      }
    }
    &.apple-apps {
      font-size: 46px;
    }
    &.wechat {
      font-size: 42px;
    }
    &.apple-imessage {
      font-size: 65px;
    }
    &.sms {
      font-size: 40px;
    }
    &.co-browsing {
      font-size: 40px;
    }
    &.telegram {
      font-size: 36px;
    }
    &.instagram {
      font-size: 36px;
    }
    &.instagram-dm {
      line-height: 60px;
      font-size: 36px;
      &:before {
        width: 60px;
      }
      &:after {
        height: 45px;
        width: 45px;
        line-height: 46px;
        font-size: 44px;
      }
    }
    &.amazon {
      font-size: 36px;
    }
    &.snapchat {
      font-size: 38px;
    }
    &.google {
      font-size: 36px;
    }
    &.google-dm {
      line-height: 60px;
      font-size: 36px;
      &:before {
        width: 60px;
      }
      &:after {
        height: 45px;
        width: 45px;
        line-height: 46px;
        font-size: 44px;
      }
    }
    &.google-maps {
      font-size: 40px;
    }
    &.email {
      font-size: 33px;
    }
    &.line-message {
      font-size: 40px;
    }
    &.forum {
      font-size: 27px;
    }
    &.voice {
      font-size: 36px;
    }
    &.vkontakte {
      font-size: 30px;
    }
    &.vkontakte-dm {
      font-size: 30px;
      &:before {
        width: 60px;
      }
      &:after {
        height: 45px;
        width: 45px;
        line-height: 46px;
        font-size: 44px;
      }
    }
    &.listening, &.kbm-1 {
      font-size: 36px;
    }
  }

  /* SIZE L */

  &.sizeL {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 5px;

    &.isPrivate, &.message {
      &:before {
        width: 40px;
      }
      &:after {
        height: 30px;
        width: 30px;
        line-height: 31px;
        font-size: 29px;
      }
    }
    &.facebook {
      line-height: 40px;
      font-size: 20px;
    }
    &.facebook-dm {
      line-height: 40px;
      font-size: 20px;
      &:before {
        width: 40px;
      }
      &:after {
        height: 30px;
        width: 30px;
        line-height: 31px;
        font-size: 29px;
      }
    }
    &.twitter-dm {
      line-height: 40px;
      &:before {
        width: 40px;
      }
      &:after {
        height: 30px;
        width: 30px;
        line-height: 31px;
        font-size: 29px;
      }
    }
    &.apple-apps {
      font-size: 28px;
    }
    &.apple-imessage {
      font-size: 35px;
    }
    &.line-message {
      font-size: 28px;
    }
    &.sms {
      font-size: 26px;
    }
    &.wechat {
      font-size: 26px;
    }
    &.voice {
      font-size: 26px;
    }
    &.amazon {
      font-size: 26px;
    }
    &.snapchat {
      font-size: 26px;
    }
    &.instagram {
      font-size: 24px;
    }
    &.instagram-dm {
      line-height: 40px;
      font-size: 24px;
      &:before {
        width: 40px;
      }
      &:after {
        height: 30px;
        width: 30px;
        line-height: 31px;
        font-size: 29px;
      }
    }
    &.google {
      font-size: 24px;
    }
    &.google-dm {
      line-height: 40px;
      font-size: 24px;
      &:before {
        width: 40px;
      }
      &:after {
        height: 30px;
        width: 30px;
        line-height: 31px;
        font-size: 29px;
      }
    }
    &.google-maps {
      font-size: 26px;
    }
    &.email {
      font-size: 22px;
    }
    &.forum {
      font-size: 18px;
    }
    &.vkontakte {
      font-size: 20px;
    }
    &.vkontakte-dm {
      font-size: 20px;
      &:before {
        width: 40px;
      }
      &:after {
        height: 30px;
        width: 30px;
        line-height: 31px;
        font-size: 29px;
      }
    }
    &.listening, &.kbm-1 {
      font-size: 24px;
    }
  }

  /* SIZE S */

  &.sizeS {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;

    &.isPrivate, &.message {
      &:before {
        width: 20px;
      }
      &:after {
        height: 15px;
        width: 15px;
        line-height: 16px;
        font-size: 14px;
      }
    }
    &.facebook {
      line-height: 20px;
      font-size: 10px;
    }
    &.facebook-dm {
      line-height: 20px;
      font-size: 10px;
      &:before {
        width: 20px;
      }
      &:after {
        height: 15px;
        width: 15px;
        line-height: 16px;
        font-size: 14px;
      }
    }
    &.twitter-dm {
      line-height: 20px;
      font-size: 10px;
      &:before {
        width: 20px;
      }
      &:after {
        height: 15px;
        width: 15px;
        line-height: 16px;
        font-size: 14px;
      }
    }
    &.instagram {
      font-size: 12px;
    }
    &.instagram-dm {
      line-height: 20px;
      font-size: 12px;
      &:before {
        width: 20px;
      }
      &:after {
        height: 15px;
        width: 15px;
        line-height: 16px;
        font-size: 14px;
      }
    }
    &.google {
      font-size: 12px;
    }
    &.google-dm {
      line-height: 20px;
      font-size: 12px;
      &:before {
        width: 20px;
      }
      &:after {
        height: 15px;
        width: 15px;
        line-height: 16px;
        font-size: 14px;
      }
    }
    &.email {
      font-size: 11px;
    }
    &.forum {
      font-size: 9px;
    }
    &.vkontakte {
      font-size: 10px;
    }
    &.vkontakte-dm {
      font-size: 10px;
      &:before {
        width: 20px;
      }
      &:after {
        height: 15px;
        width: 15px;
        line-height: 16px;
        font-size: 14px;
      }
    }
    &.listening, &.kbm-1 {
      font-size: 12px;
    }
  }

  /* SIZE XS */

  &.sizeXS {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 8px;

    &.isPrivate, &.message {
      &:before {
        width: 16px;
      }
      &:after {
        height: 12px;
        width: 12px;
        line-height: 13px;
        font-size: 11px;
      }
    }
    &.facebook {
      line-height: 16px;
      font-size: 8px;
    }
    &.facebook-dm {
      line-height: 16px;
      font-size: 8px;
      &:before {
        width: 16px;
      }
      &:after {
        height: 12px;
        width: 12px;
        line-height: 13px;
        font-size: 11px;
      }
    }
    &.twitter-dm {
      line-height: 16px;
      font-size: 8px;
      &:before {
        width: 16px;
      }
      &:after {
        height: 12px;
        width: 12px;
        line-height: 13px;
        font-size: 11px;
      }
    }
    &.instagram {
      font-size: 9.6px;
    }
    &.instagram-dm {
      line-height: 16px;
      font-size: 9.6px;
      &:before {
        width: 16px;
      }
      &:after {
        height: 12px;
        width: 12px;
        line-height: 13px;
        font-size: 11px;
      }
    }
    &.google {
      font-size: 9.6px;
    }
    &.google-dm {
      font-size: 9.6px;
      &:before {
        width: 16px;
      }
      &:after {
        height: 12px;
        width: 12px;
        line-height: 13px;
        font-size: 11px;
      }
    }
    &.email {
      font-size: 8.8px;
    }
    &.forum {
      font-size: 7.2px;
    }
    &.vkontakte {
      font-size: 8px;
    }
    &.vkontakte-dm {
      font-size: 8px;
      &:before {
        width: 16px;
      }
      &:after {
        height: 12px;
        width: 12px;
        line-height: 13px;
        font-size: 11px;
      }
    }
    &.listening, &.kbm-1 {
      font-size: 9.6px;
    }
  }
  &.isGrayscale {
    background-color: #00000000;
    color: #fff;
    &.active {
      color: #666;
    }
  }
}
