.Checkbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.Checkbox input[type=checkbox] {
  position: absolute;
  display: none;
}

.Checkbox input {
  background-color: #fff;
  border: none;
}

.Checkbox label, .Checkbox label:after {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
  padding: 0;
}

.Checkbox label:after {
  content: "e";
  padding-right: 1px;
  text-align: center;
  text-transform: none!important;
  font-family: be-engager!important;
  font-size: 8px;
  font-weight: 400;
  font-style: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  opacity: 0;
}

.Checkbox input[type=checkbox]:checked~label {
  border-color: #40c268;
  background-color: #40c268;
}