
.color {
  background-color: rgba(3, 82, 16, 0.61);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.color2 {
  background-color: rgba(20, 3, 82, 0.61);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.color3 {
  background-color: rgba(168, 1, 1, 0.61);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.color4 {
  background-color: rgba(185, 184, 184, 0.329);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.color5 {
  background-color: rgba(255, 253, 129, 0.61);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.color6 {
  border: solid 2px #1ab7ff;
  color: #1ab7ff;
  font-size: 14px;
  font-weight: 700;
}

.color7 {
  background: #1ab7ff;
  color: #111f25;
  font-size: 14px;
  font-weight: 700;
}

