.GridDemo {
}


.color {
  background-color: rgba(3, 82, 16, 0.61);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;

}

.color2 {
  background-color: rgba(20, 3, 82, 0.61);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
}

.color3 {
  background-color: rgba(82, 3, 3, 0.61);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
}

.color4 {
  background-color: rgba(138, 138, 138, 0.61);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.color5 {
  background-color: rgba(255, 253, 129, 0.61);
  color: #fff;
  font-size: 14px;
  padding: 20px 10px ;
  font-weight: 700;
}

.color6 {
  border: solid 2px #1ab7ff;
  color: #1ab7ff;
  font-size: 14px;
  padding: 20px 0 0  ;
  font-weight: 700;
}


.row {
  margin-bottom: 10px;
}