.Notification {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 36px;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #e4e4e4;
  text-align: center;
  white-space: nowrap;
  font-size: 13px;
  color: #666;
  z-index: 3000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.Fixed {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: auto;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:before {
    position: relative;
    top: 2px;
    display: inline;
    content: "\2e";
    width: 16px;
    height: inherit;
    margin-right: 5px;
    line-height: inherit;
    font-family: "be-engager" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
  }

  &.isRed {
    background-color: #ffd0d1;
    color: #7d1719;

    &:before {
      content: "\66";
    }
  }

  &.isGreen {
    background-color: #c8ecba;
    color: #2e5e1b;
    
    &:before {
      content: "\65";
    }
  }

  &.isYellow {
    background-color: #ffd5a5;
    color: #865b29;
    
    &:before {
      content: "\7a";
    }
  }
}
